<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/denisepierre/IdeaProjects/finalProjectRateMyProfessors/src/main/java">
        <classes>
            <class name="org.example.class1_login">
                <methods>
                    <include name="RP01_ValidLogin"></include>
                    <include name="RP02_Logout"></include>
                    <include name="RP03_InvalidPassword"></include>
                    <include name="RP04_NonExistentEmail"></include>
                    <include name="RP05_ForgotPassword"></include>
                </methods>
            </class>
            <class name="org.example.class2_search">
                <methods>
                    <include name="RP06_SearchNonExistentSchool"></include>
                    <include name="RP07_SearchSchoolByName"></include>
                    <include name="RP08_SearchProfessorByName"></include>
                    <include name="RP09_SearchNonExistentProfessor"></include>
                    <include name="RP10_SearchSpecialCharacters"></include>
                </methods>
            </class>
            <class name="org.example.class3_valid_ratings">
                <methods>
                    <include name="RP11_NavigateToRating"></include>
                    <include name="RP12_CourseCodeAndRating"></include>
                    <include name="RP13_SelectRadiosAndGrade"></include>
                    <include name="RP14_TagsAndReview"></include>
                    <include name="RP15_SubmitReview"></include>
                </methods>
            </class>
            <class name="org.example.class4_invalid_ratings">
                <methods>
                    <include name="RP16_EmptyRatingForm"></include>
                    <include name="RP17_ExceedMaxCharacters"></include>
                    <include name="RP18_DuplicateRating"></include>
                    <include name="RP19_BlankCourseCode"></include>
                    <include name="RP20_SubmitWithoutLogin"></include>
                </methods>
            </class>
            <class name="org.example.class5_professor_profile">
                <methods>
                    <include name="RP21_NavigateToProfessorProfile"></include>
                    <include name="RP22_SaveProfessor"></include>
                    <include name="RP23_FilterReviewsByCourse"></include>
                    <include name="RP24_LoadMoreRatings"></include>
                    <include name="RP25_CompareProfessor"></include>
                </methods>
            </class>
            <class name="org.example.class6_user_profile">
                <methods>
                    <include name="RP26_AddSavedProfessors"></include>
                    <include name="RP27_RemoveSavedProfessors"></include>
                    <include name="RP28_EditUserProfile"></include>
                    <include name="RP29_ChangeUserPassword"></include>
                    <include name="RP30_EditUserReview"></include>
                </methods>
            </class>
            <class name="org.example.class7_navigation">
                <methods>
                    <include name="RP31_ClickLogoToHome"></include>
                    <include name="RP32_NavigateFindSchool"></include>
                    <include name="RP33_NavigateFindProfessor"></include>
                    <include name="RP34_ScrollPageUpDown"></include>
                    <include name="RP35_CheckFooterLinks"></include>
                </methods>
            </class>
            <class name="org.example.class8_school_profile">
                <methods>
                    <include name="RP36_NavigateToSchoolPage"></include>
                    <include name="RP37_RateSchool"></include>
                    <include name="RP38_CompareSchool"></include>
                    <include name="RP39_ViewAllProfessors"></include>
                    <include name="RP40_ThumbUpAndShowMore"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>